//- Reset Password
extends ../layout/base

block content
  p Dear #{name},
  br
  p Someone tried to reset your UR account password. If that wasn't you, please ignore this email.
  p
    | Click 
    a(href=resetLink) here
    |  to reset your password.
