//- Reset Password
extends ../layout/base

block content
  p Dear #{name},
  br
  p Someone tried to reset your UR account password.
  p
    | Click 
    a(href=resetLink) here
    |  to reset your password
