//- Verify Email
extends ../layout/base

block content
  p Hey #{name},
  p Thanks for signing up to UR money. You're almost done! We just need to verify your email address, then we will start processing your submitted ID documents for final approval.

  p
    | Please click 
    a(href=verifyLink) here
    |  to verify your UR email address. 
	
  p If you can't click that link, then you can copy this URL and paste it into your browser: #{verifyLink}

  p <strong>Important:</strong> Verifying your email address does not activate your sign up bonus. In order to help prevent fraud and create a secure environment for our community, we check and validate all submitted identity documents. We will respond to all submissions within 48 hours. Approval may take longer if documents are incomplete or of low quality.
