doctype html
html
  head
    title Welcome to UR Money
  body
    block content
    block foot
      p 
        | Please don't reply to this email. If you have any support-related questions please open a ticket via 
        a(href='https://urtechnology.freshdesk.com') https://urtechnology.freshdesk.com
        | .
      p All the best,
      p The UR Money Team
