doctype html
html
  head
    title Welcome to UR Money
  body
    block content
    block foot
      p
        | If you have any issues or questions please don't hesitate to reply to this email
        | and reach out.
      p All the best,
      p The UR Money Team
