doctype html
html
  head
    title Welcome to UR
  body
    block content
    block foot
      br
      p
        | If you have any issues or questions please don't hesitate to reply to this email
        | and reach out.
      p All the best,
      p UR Team
